# Discord
DISCORD_TOKEN=tu_token_aqui
CLIENT_ID=id_de_tu_aplicacion_aqui
SENTRY_DSN=tu_dsn_de_sentry_aqui
ERROR_WEBHOOK_URL=tu_webhook_de_discord_aqui
GUILD_ID=tu_guild_id_aqui

# Database (MariaDB)
DB_ROOT_PASSWORD=password_maestro
DB_HOST=tu_host_aqui
DB_NAME=hikari_db
DB_USER=hikari_user
DB_PASSWORD=hikari_password
DB_PORT=3306

# API (Spring Boot)
API_PORT=8080
API_URL=http://api:8080
SPRING_PROFILES_ACTIVE=tu_profile #dev o prod
